.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    margin: 20px auto;
}

.container-header {
    margin-top: 33px;
    font-family: serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.btn {
    background-color: #110a40;
    border-radius: 5px;
    border: 1px solid #1f00fe;
    padding: 7px 13px;
    cursor: pointer;
    color: white;
}